<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://104.196.142.176:3306/weeclodb</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="freddy"/>
     <property name="password"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.ItemEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.ItemStarsEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.ItemStarsTotalEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.ItemTagsEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.ItemsOwnedEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.ItemsRentedEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.OwnerEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.RenterEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.TagsEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.UsStatesEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.UserEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.UserRatingEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.UserRatingTotalEntity"/>
      <mapping class="com.theoryheadstudios.demo.bars.entities.WcAdminEntity"/>

      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>