@media only screen and (max-width: 760px) {

}

body {
    /* margin: 0; */
    font-family: Georgia, "Times New Roman", Times, serif,'Montserrat', sans-serif; 
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    background-color: #000;
    color: rgba(255, 255, 255, 0.7);
    cursor: default;
    overflow: hidden;
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

   .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
p {
    line-height: 1.33em;
    color: lightblue;
}
h1 {
    color: #EEEEEE;
}
h2 {
    color: #EEEEEE;
}

#welcome-text {
    position: relative;
    z-index: 10;
    padding-top: 50px;
    text-align: center;
    color: #33FFE9;
}


/* START - Ripple Loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid lightblue;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  /* END - Ripple Loader */


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: navy;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 10;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: lightblue;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: lightseagreen;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 9;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden; 

        /* Chrome, Opera 15+, Safari 3.1+ */
        -webkit-transform: translateY(-100%);  
        /* IE 9 */
        -ms-transform: translateY(-100%); 
        /* Firefox 16+, IE 10+, Opera  */
        transform: translateY(-100%); 

     -webkit-transition: all 0.3s 1s ease-out;  
        transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.back-link a {
    color: beige;
    text-decoration: none; 
    padding-top: 15px;
    border-bottom: 1px lightseagreen solid;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}
.back-link a:hover,
.back-link a:focus {
    color: lightseagreen; 
    text-decoration: none;
    border-bottom: 1px lightseagreen solid;
    cursor: pointer;
}
h1 {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 3px;
}
.entry-header {
    /* text-align: left; */
    /* margin: 0 auto 50px auto; */
    width: 100%;
    /* max-width: 978px; */
    position: relative;
    z-index: 1;
}


#demo-content {
    padding-top: 100px;
}

  
  #bg-before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 200px #000;
    /* background-image: url(../images/listen3.jpg); */
    /* background: url(http://gagadaily.com/uploads/stories/monthly_2016_09/joanne.jpg.a6d8d6fd6e671a82ae75e80925ff43d3.jpg) 0/cover fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    filter: blur(20px);
    animation: blurAni 24s infinite;
  }
  
  #bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* animation: bgAni 18s infinite; */
  }
  
  @keyframes blurAni {
    0% {
      filter: blur(20px);
    }
    25% {
      filter: blur(5px);
    }
    50% {
      filter: blur(15px);
    }
    75% {
      filter: blur(0);
    }
    100% {
      filter: blur(20px);
    }
  }
  @keyframes bgAni {
    0% {
      background-color: rgba(0, 0, 0, 0.6);
    }
    17% {
      background-color: rgba(0, 0, 0, 0.7);
    }
    33% {
      background-color: rgba(0, 0, 0, 0.9);
    }
    50% {
      background-color: rgba(0, 0, 0, 0.5);
    }
    67% {
      background-color: rgba(0, 0, 0, 0.8);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  main {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    bottom: 2rem;
    padding: 0 calc(50% - 10rem);
    /* text-align: center; */
  }

  #queue{
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    color: white;
  }

  #queue:hover{
      color: lightseagreen;
  }


  /* #queueTable {
      width: 100%;
      border: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: black;
    background-color: aqua;
  } */

  #queueTable:hover {
      cursor: pointer;
  }

  #queueTable tr {
    line-height: 0px;
  }

  #queueTable p {
      position: relative;
      margin: 0;
      padding: 0;
      padding-left: 15px;
      white-space: normal;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width: 160px;
      word-break: break-word;
  }

  .sidenav {
    line-height: 80px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 7;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: 0.5s  ease;
    /* padding-top: 50px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    appearance: none;
    -webkit-appearance: none;
    position: sticky;
    width: 9px;
}
/* Track */
::-webkit-scrollbar-track {
    background: grey; 
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,.5); 
}

.sidenav:hover, .sidenav:active, .sidenav:focus {
    overflow-y: auto;
    background-color: rgba(66, 76, 94, 0.527);
}

.sidenav p{
     /* padding: 8px 8px 8px 32px; */
     text-decoration: none;
     font-size: 11px;
     top: 0;
     padding: 25px;
     color: aqua;
     display: inline-block;
     transition: left 0.3s ease-in-out;
     cursor: pointer;
     white-space: pre-wrap;
     /* word-break: break-all; */
     
}

.sidenav div {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 14px;
    top: 0;
    padding: 25px;
    color: aqua;
    display: inline-block;
    transition: left 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    word-break: break-all;
}

.sidenav div:hover{
    background-color: rgba(66, 76, 94, 0.527);
}

.sidenav div:hover p {
    color: white;
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    line-height: 10px;
}

.sidenav .closebtn:hover {
    color: white;
}

.navimage {
    /* transition: all 0.3s ease;
    -webkit-transition: all 0.3s; */
    position: relative;
    border: 1px solid;
    padding: 1px;
    width: 34px;
    height: 32px;
    border-radius: 50%;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav p {font-size: 8px;}
} */

  main nav{
    position: relative;
      padding-top: 0;
      margin-top: -4px;
      margin-right: -23px;
      line-height: 1;
      vertical-align: top;
      /* padding-right: 0; */
      text-align: left;
  }
  
  #albumCover {
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    display: inline-block;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  }

  #progress {
    width: 100%;
    background-color: rgba(186, 195, 211, 0.2);
  }
  
  #progress-bar {
    position: relative;
    width: 0%;
    height: .4rem;
    background-color: lightseagreen;
  }
  
  /* #progress-bar.play {
    animation: progress-bar 240s infinite;
  } */
  
  @keyframes progress-bar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  #title {
    margin: 8px 0;
    width: 100%;
    overflow: hidden;
    height: 17px;
  }
  
  #title-text {
    animation: scrolling-text 14s linear infinite;
    color: aqua;
  }
  
  @keyframes scrolling-text {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .control {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    margin: 1px;
    transition: transform .3s, box-shadow .5s, text-shadow .5s;
  }
  .control:hover, .control:focus {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  .control:active {
    transform: scale(0.9);
    box-shadow: none;
    text-shadow: none;
  }
  .control .icon {
    font-size: 2.7rem;
  }
  #controls {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: lightseagreen;
    outline-style:none;
  }
  
  #controls div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div::-moz-selection {
      background: transparent;
  }
  div::selection {
      background: transparent;
  }

  #controls-play {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    color: lightseagreen;
    outline-style:none;
  }
  #controls-play .icon {
    font-size: 4rem;
  }
  #controls-play .icon-pause {
    display: none;
  }
  #controls-play.play .icon-pause {
    display: block;
  }
  #controls-play.play .icon-play {
    display: none;
  }

@-moz-keyframes flip {
    /* to {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } */
    0% { -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    25% {-webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);  }
    50% {-webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
      transform: rotateY(360deg);  }
    100% {-webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);  }
  
}

@-webkit-keyframes flip {
  /* to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } */
  0% { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  transform: rotateY(0deg); }
25% {-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);  }
50% {-webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
  transform: rotateY(360deg);  }
100% {-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
  }
  
}

@keyframes flip {
  /* to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } */
  0% { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  transform: rotateY(0deg); }
25% {-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);  }
50% {-webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
  transform: rotateY(360deg);  }
100% {-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);  }

}

span.coin-face {
    display: none;
    background: gold url(../images/dollar.png) no-repeat center center;
    color: gold;
    width: 32px;
    height: 32px;
    font-family: sans-serif;
    position: absolute;
    top: 45%;
    /* right: auto;
    bottom: auto; */
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
    -moz-animation: flip 2s infinite linear;
    -webkit-animation: flip 2s infinite linear;
            animation: flip 2s infinite linear;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    /* -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; */
  }
  
  /* .coin-face::before {
    content: '';
    z-index: -1;
    display: block;
    background: gold url(../images/dollar.png) no-repeat center center;
    color: gold;
    width: 32px;
    height: 32px;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
    -webkit-transform: translateZ(4px);
            transform: translateZ(4px);
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }
  .coin-face::after {
    content: '';
    display: block;
    background: gold url(../images/dollar.png) no-repeat center center;;
    color: gold;
    border-radius: 5px;
    width: 5px;
    height: 32px;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -2.5px;
    -webkit-transform: rotateY(90deg) translateX(-2px);
            transform: rotateY(90deg) translateX(-2px);
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  } */
  
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }

#coinPlusOne {
    display: none;
    color: gold;
    width: 32px;
    height: 32px;
    font-size: 17px;
    font-family: sans-serif;
    position: absolute;
    padding-left: 32px;
    top: 45%;
    right: 50%;
    bottom: auto;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
    opacity: 0;
    -webkit-animation-name: fadeInOut;
    -moz-animation-name: fadeInOut;
    animation-name: fadeInOut;
    /* animation-delay: 5.5s; */
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s;
}


#coinsEarned{
    list-style-type: none;
    text-decoration: none;
    color: gold;
    position: absolute;
    top: 20px; 
    
}

.menu {
    font-weight: 100;
    top: 0;
    background: rgba(66, 76, 94, 0.527);
    width: 117px;
    height: 100%;
    padding-left: 50px;
    position: fixed;
    z-index: 5;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -128px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: aqua;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .menu:hover, .menu:focus {
    background: rgba(31, 36, 46, 0.527);
    transform: translate3d(-130px, 0, 0);
     animation-timing-function: 1s ease-in;
   }
  .menu .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* transform: rotate(270deg); */
    left: 12px;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
  }
  .menu .title:hover {
    cursor: pointer;
  }
  .menu .nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
  }
  .menu li,
  .menu .nav li {
    /* padding: 10px; */
    padding-bottom: 30px;
    outline: none;
    white-space: nowrap;
    list-style-type: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
        border-bottom-color: 5px solid white;
  }
  .menu li a,
  .menu .nav li a {
    outline: none;
    padding-right: 20px;
    display: block;
    text-decoration: none;
    color: rgba(197, 194, 194, 0.856);
  }

  .menu li a:hover,
  .menu .nav li a:hover {
    position: relative;
    color: white;
    /* box-shadow: 0 2px 0 0 aqua; */
  }
  
  .intro {
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 45px;
    text-align: center;
    font-style: italic;
  }
  


  .video-thumbnail {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    margin: auto;
    width: 320px;
    height: 320px;
    z-index: 4;
  }
  .video-thumbnail:before {
    visibility: hidden;
    position: absolute;
    top: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: url("../images/speakerMute.png");
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  .video-thumbnail:hover {
    background: rgba(45, 70, 117, 0.342);
  }
  .video-thumbnail:hover:before {
    /* background: rgba(45, 70, 117, 0.527); */
    visibility: visible;
    color: rgba(195, 199, 207, 0.527);
  }

  .progressTime {
    top: 310px;
    left: 445px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .progressBarTime {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }

  #startTime {
    float: left;
  }

  #endTime {
    float: right;
    right: -380px;
  }

  /* Form */
.form {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0.877);
  width: 350px;
  /* margin: 20% auto 100px; */
  padding: 30px;
  border-style: solid;
  border-color: aqua;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  opacity: 1;
  /* visibility: hidden; */
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  text-align: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form .thumbnail {
  /* overflow-y: scroll; */
  background: rgb(7, 174, 224);
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  overflow-y: auto;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: rgb(7, 174, 224);;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #FFFFFF;
  font-size: 12px;
}
.form .message a {
  color: rgb(7, 174, 224);;
  text-decoration: none;
}
.form .register-form {
  /* position: fixed; */
  overflow-y: auto;
  height: 300px;
  padding-right: 15px;
  /* width: 350px; */
  display: none;
  /* top: 0; right: 0; bottom: 0; left: 0; */
}

.container {
  position: relative;
  visibility: hidden;
  z-index: 10;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 -30px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: white;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: rgb(7, 174, 224);;
}