@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
/* START - responsive table */
@media screen and (max-width: 850px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    table,
    tbody {
        display: block;
        width: 100%;
        height: 100%;
    }
    #customers {
        width: 100%;
         -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        display: block;
    }

    /* #customers thead { display: none; } */
    #customers th,
    #customers td {
        display: block;
        padding: 0;
        text-align: center;
        white-space: normal;
    }

    #customers tr {
      padding-bottom: 11px;
      margin-bottom: 11px;
    }

    #customers th[data-title]:before,
    #customers td[data-title]:before {
          content: attr(data-title) ":\00A0";
          font-weight: bold;
    }
    #customers td {
        border: none;
        margin-bottom: 6px;
        color: #444;
    }
    /* #customers td:first-child {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 6px;
      color: #333;
  } */

  #localization label {
    display: inline-block;
    text-align: left;
  }
  
  #localization input {
    display: inline-block;
    text-align: left;
    position: relative;
  }

  .select select {
    max-width: 80%;
    position: relative;
  }

}

/* END - responsive table */


* {
    box-sizing: border-box;
}
#boxHeader{
  display: inline-block;
  margin-right: 3px;
}
#badges{
  margin: auto;
  width: 50%;
  margin-top: 100px;
}
/* #appleBadge{
   height: 165px; 
}*/


h1{
  font-family: 'Krona One', sans-serif;
  color:white;
}
h3{
  font-family: 'Krona One', sans-serif;
  color:white;
}
footer {
   position:absolute;
   left: 0;
   bottom: 0;
   width: 100%;

   color: white;
   text-align: center;
}
/* modal picture table stuff*/

/* end of modal picture table stuff */
#text{
  position: sticky;
  max-width: 400px;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-image: url('../images/mic.jpg');
    background-size: cover;
    --def: rgba(9, 176, 218, 0.534); 	
    --inv: white;
}

#rightMenu{
  display:block;
  right:0;
  width: 0px;
  transition: 0.5s;
  background-color: #000000;
  color: white;
  -webkit-text-fill-color: white;
}
#rightMenu a{
  color: rgba(9, 176, 218, 0.534);
}

/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    overflow-x: hidden;
    overflow-y: scroll !important;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height:90%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
  border-radius: 4px;
  background: navy;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span::after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*-----End of Checkbox stuff*/
/*table styles*/
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
    table-layout: fixed;
}
#customers tbody{
  background-color: transparent;
}


/* border of the table */
#customers td, #customers th {
    /* border: 1px solid #ddd; */
    /* padding: 2px; */
    width: 150px;
    white-space: nowrap;
}


/* #customers tr:nth-child(even){background-color: #f2f2f2;} */

#customers th {
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px; */
    align-self: center;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/*---End of table styles --*/


/*---Start Footer --*/


.wrapper {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    border: 0px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: transparent;
    color: black;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 100px;

}

#tableWrapper{

  background-color: #fff;

}

.topnav {
  overflow: hidden;
  width: 500px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 0px;
  font-size: 17px;
  border: none;
  width: 400px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

/*---End of progress tracker stuff ---*/

.topnav .search-container button:hover {
  background: #ccc;
}
.responsive {
    max-width: 100%;
    height: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #484848;
  color: white;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #484848;
}

.footer li {
    float:right;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.footer li a:hover {
    background-color: #111111;
}
.header {
    overflow: hidden;
    background-color: white;
    padding: 1px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}
* {box-sizing: border-box;}

#hamburger{
    width: 25px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}
#mainlogo{
    max-height: 70px;
    max-width: 220px;
    z-index: 200;

}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    #badges{
        margin: auto;
        width: 50%;
        margin-top: 50px;
    }
}


@media screen and (max-width: 480px) {
    .responsive {
    max-width: 100%;
    height: auto;
}
    #hamburger{
        width: 25px;
        height: 1px;
        background-color: black;
    }
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

/* setup tooltips */
.tooltip {
  position: relative;
  border-bottom: 0px solid transparent;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:after {
	border-right: 6px solid transparent;
	/* border-bottom: 6px solid rgba(0,0,0,.75);  this is the arrow */
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 20px;
    left: 20px;
  width: 0;
}
.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 26px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* expand */
.tooltip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
  top: -5px;
  left: 105%;
}
.tooltip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
  top: -5px;
  left: 105%;
}
.tooltip.expand:hover:before,
.tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

/* swing */
.tooltip.swing:before,
.tooltip.swing:after {
  transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
  transform-origin: 0 0;
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:after {
  transform: translate3d(0,60px,0);
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:hover:before,
.tooltip.swing:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}

#customModal button {
 position: relative;
 /* float: right; */
}


