@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1{
    font-family: 'Montserrat', sans-serif;
     text-shadow: none;
}
h2{
  font-family: 'Montserrat', sans-serif;
 text-shadow: none;
}
h3{
    font-family: 'Montserrat', sans-serif;
 text-shadow: none;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
form{
  border:none;
}
body{
    min-height: 100%;
}
/****FOOTER STUFF*****/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-top:20px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    text-decoration: none;
}

/***********/
p{
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;


}
.bbb{
  background: rgba(0, 0, 0, 0.5);
}
.container2{
  margin: auto;

}
.col-lg-4{
  margin: auto;
}
.button {
    background-color:#CD5C5C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  background-color: #CD5C5C;
  /*margin-right: 5px;*/
  margin: 1px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.5s ease-in-out;

}

.topnav a:hover {
  background-color: #CD5C5C;
  color: black;
    transition: background-color 0.5s ease-in-out;
}


.topnav .icon {
  display: none;
}

.logo{
  float:left;
  display: block;
  color: #CD5C5C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.5s ease-in-out;
}





.navbar-nav{

}

.navbar{
  border-radius: 0px;
  background-color: white;
}

.container{
  background-color: white;
  padding: 30px;
}

.input-group{
width: 400px;
margin: auto;


padding: 10px;

}
.form-control{
width: 300px;


}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
#navbar {

  overflow: hidden;
  /*background-color: none;*/
  border:none;
  width:400px;
  z-index: 1000;


}
#bodyPics{
  max-width: 300px;
  max-height: 300px;
}
#centerBody{
  margin: auto;
  width: 50%;
}

.navbar-form{
  border:none;

}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/*
#gifSearch{
margin-top:auto;
} */

.header {
  background-color: #f1f1f1;

  text-align: center;
  overflow: hidden;
}
img{
  width: 100%;
/*  height: 300px;*/
}

#videoDiv {
  width: 100%;
  height: auto;
  max-height: 800px;
  position: relative;}
#videoBlock {width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center; z-index: -1;}
#videoMessage {width: 100%; height:100%; position: absolute; top: 0; left: 0;}
#videoMessage *{padding:0.4em; margin:0}
#videoMessage {text-shadow: 2px 2px 2px #000000; color:white;z-index:99 }
#videoMessage h1{font-size: 2em;color:#ffffff;text-align:center;}
#videoMessage h2{font-size: 1.5em;color:#ffffff;text-align:center;}
#videoMessage h3{font-size: 1.2em;color:#ffffff;text-align:center;}
.videoClick {text-align:center}
.videoClick a{color:white;background-color:rgba(241, 241, 241, 0.25);font-size: 1.7em;cursor:pointer;cursor:hand}

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
} */

/*carousel stuff*/
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }



@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
  #gifSearch{
    margin: auto;
    float: right;
  }
  .input-group{
  min-width: 200px;
  border: none;

  }

}
@media screen and (max-width: 767px)  /*and (min-width:532px)*/{
  .header {
    background-color: white;
    height: 300px;
    min-height: 300px;
    text-align: center;

  }
  .input-group{
  width: 400px;
  margin-top: 20px;
  width: 100%;
  padding: 10px;

  }
  .form-control{
    height: 50px;
  }
  .button{
    height: 50px;
  }
  #gifSearch{
    margin: 10px 10px 10px 10px;
    float: right;
  }
  hr{
    width: 0px;
  }
  img{
    width: 100%;
    height: auto;
  }
}

/*modal?*/
/* progress tracker stuff*/

.trackerContainer{
  width: 100%;
  margin-bottom: 100px;

}
.progressbar{
  counter-reset: step;

}
.progressbar li{
  list-style-type: none;
  float:left;
  width:25%;
  position: relative;
  text-align: center;



}
.progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border:1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

}
/*.progressbar li:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left:-50%;
  z-index: 1 !important;
}*/
.progressbar li:first-child::after{
  content: none;
}
.progressbar li.active{
  color:green;
}
.progressbar li.active:before{
  border-color: green;

}
.progressbar li.active + li:after{
  background-color: green;
}

/*---End of progress tracker stuff ---*/

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    height:70%;
    overflow: auto;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* modal button that says "Next"*/
.modalNextButton {
  border-radius: 4px;
  background-color: #CD5C5C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.modalNextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.modalNextButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.modalNextButton:hover span {
  padding-right: 25px;
}

.modalNextButton:hover span:after {
  opacity: 1;
  right: 0;
}
/*modal button that says "Back"*/
.modalBackButton {
  border-radius: 4px;
  background-color: #CD5C5C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



/*this is the checkbox stuff*/
/* Customize the label (the container) */
.Modalcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Modalcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.Modalcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Modalcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}

/* Show the checkmark when checked */
.Modalcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Modalcontainer .checkmark:after {
  left: 8px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*-----End of Checkbox stuff*/
/*table styles*/
#customers {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;


}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;

}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}




/*---End of table styles --*/
/*-------*/

/************THIS IS USER TYPE CARDS FOR MODAL********/
.renterCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    float:right;


}

.renterCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.renterContainer {
    padding: 2px 16px;

}
.ownerCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;

}

.ownerCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ownerContainer {
    padding: 2px 16px;
}

/******NEIGHBORHOOD SELECTION RADIO BOX BUTTON STUFF*****/
/* The container */
.RadioButtonContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.RadioButtonContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.RadioCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.RadioContainer:hover input ~ .RadioCheckmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.RadioButtonContainer input:checked ~ .RadioCheckmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.RadioCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.RadioButtonContainer input:checked ~ .RadioCheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.RadioButtonContainer .RadioCheckmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/********************************************************/
/********************************************************/
/********************************************************/
footer {
    padding: 0px;
    color: white;
    background-color: #A9A9A9;
    clear: left;
    text-align: center;
    width: 100%;
    margin-top:10px;
    font-family: 'Montserrat', sans-serif;
}



@media screen and (max-width: 1000px){
.hhh{
  width: 100%;
  height: auto;
}
#centerBody{
width: auto;
}
h1{
  font-size: 100%;
}
.header {
  background-color: #f1f1f1;

  text-align: center;
  overflow: hidden;
}
img{
  width: 100%;
/*  height: 300px;*/
}
}
@media screen and(max-width: 450px){
  .hhh{
    width: 100%;
    height: 450px;
  }
  #firstname{
    width: 300px;
  }
}
