@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
/* START - responsive table */
@media screen and (max-width: 850px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    table,
    tbody {
        display: block;
        width: 100%;
        height: 100%;
    }
    #customers {
      display: block;
      width: 100%
    }

    /* #customers thead { display: none; } */
    #customers th,
    #customers td {
        display: block;
        padding: 0;
        text-align: center;
        white-space: normal;
    }

    #customers tr {
      padding-bottom: 11px;
      margin-bottom: 11px;
    }

    #customers th[data-title]:before,
    #customers td[data-title]:before {
          content: attr(data-title) ":\00A0";
          font-weight: bold;
    }
    #customers td {
        border: none;
        margin-bottom: 6px;
        color: #444;
    }
    #customerse td:first-child {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 6px;
      color: #333;
  }

  #localization label {
    display: inline-block;
    text-align: left;
  }
  
  #localization input {
    display: inline-block;
    text-align: left;
    position: relative;
  }

  .select select {
    max-width: 80%;
    position: relative;
  }

}

/* END - responsive table */


* {
    box-sizing: border-box;
}
#boxHeader{
  display: inline-block;
  margin-right: 3px;
}
#badges{
  margin: auto;
  width: 50%;
  margin-top: 100px;
}
#appleBadge{
  /* height: 165px; */
}

p{



}
h1{
  font-family: 'Krona One', sans-serif;
  color:white;
}
h3{
  font-family: 'Krona One', sans-serif;
  color:white;
}
footer {
   position:absolute;
   left: 0;
   bottom: 0;
   width: 100%;

   color: white;
   text-align: center;
}
/* modal picture table stuff*/

/* end of modal picture table stuff */
#text{
  position: sticky;
  max-width: 400px;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-image: url('../images/mic.jpg');
    background-size: cover;


}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}


.landingButtons {
    width: 300px;
    margin: 4px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #acd2e2;
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

}

.landingButtons .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.landingButtons:hover {
    background: grey;
    color: white;
}

.landingButtons:hover .tooltiptext {
  visibility: visible;
}
/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height:90%;
    overflow: auto;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
  border-radius: 4px;
  background: navy;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span::after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*-----End of Checkbox stuff*/
/*table styles*/
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
    table-layout: fixed;
}
#customers tbody{
  background-color: transparent;
}


/* border of the table */
#customers td, #customers th {
    /* border: 1px solid #ddd; */
    /* padding: 2px; */
    width: 150px;
    white-space: nowrap;
}

/* #customers tr:nth-child(even){background-color: #f2f2f2;} */

#customers th {
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px; */
    align-self: center;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/*---End of table styles --*/



/*---Start Footer --*/


.wrapper {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    border: 0px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: transparent;
    color: black;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 100px;

}

#tableWrapper{

  background-color: #fff;

}

.topnav {
  overflow: hidden;
  width: 500px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 0px;
  font-size: 17px;
  border: none;
  width: 400px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 0px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}
/* progress tracker stuff*/

.trackerContainer{
  width: 100%;
  margin-bottom: 100px;

}
.progressbar{
  counter-reset: step;
    background-color: white;

}
.progressbar li{
  list-style-type: none;
  float:left;
  width:25%;
  position: relative;
  text-align: center;



}
.progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border:1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

}
.progressbar li:first-child::after{
  content: none;
}
.progressbar li.active{
  color:green;
}
.progressbar li.active:before{
  border-color: green;

}
.progressbar li.active + li:after{
  background-color: green;
}

/*---End of progress tracker stuff ---*/

.topnav .search-container button:hover {
  background: #ccc;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #484848;
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #484848;
}

li {
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
.header {
    overflow: hidden;
    background-color: white;
    padding: 1px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}
* {box-sizing: border-box;}

#hamburger{
    width: 25px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}
#mainlogo{
    max-height: 70px;
    max-width: 220px;
    z-index: 200;

}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    #badges{
        margin: auto;
        width: 50%;
        margin-top: 50px;
    }
}


@media screen and (max-width: 480px) {
    body {

    }
    .responsive {
    max-width: 100%;
    height: auto;
}
    #hamburger{
        width: 25px;
        height: 1px;
        background-color: black;
    }
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

/* START - Checkbox styles */
textarea:focus,
input[type=text], input[type=password]{
  border-radius: 25px;
  border: 2px solid rgb(15, 182, 43);
  padding: 20px; 
  width: 300px;
  height: 15px; 
  outline: none;   
}
input[type=text]:hover, input[type=password]:hover {
  border-radius: 25px;
  border: 2px solid red;
  padding: 20px; 
  width: 300px;
  height: 15px; 
  outline: none; 
}

.checkBoxStyle{ 
  width: 30px;
  height: 30px;
  background: #ddd;
  margin: 20px 90px;

  align-self: left;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.checkBoxStyle input {
  display: none;
}

.checkBoxStyle label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;

  padding-top: 0.5px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  text-indent: 30px;

  background: #333;
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkBoxStyle label:hover{
  background: springgreen;
}

.checkBoxStyle input[type=checkbox]:checked + label {
  background: chartreuse;
}
/* END - checkbox Styles */


/* START - Zip/Postal Code Style*/
#zip {
  border-radius: 25px;
  border: 3px solid navy;
  padding: 20px; 
  width: 300px;
  height: 15px; 
  outline: none;  
  width: 200px;
}

#zip:hover { 
  border-radius: 25px;
  border: 3px solid #1A70FF;
  padding: 20px; 
  width: 200px;
  height: 15px; 
  outline: none;  
}

/* END - Zip/Postal Code Style*/

/* START - Select Styles */
/*the container must be positioned relative:*/
.select {
  font-size: 16px;
  position: relative;
  display: inline-block;

}

/* if user hover away from the select area, paint it this color */
.select select:focus{
  border-color:navy;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.3em;
  margin: 0;

  transition: border-color 0.2s;
  border: 5px solid navy;
  border-radius: 5px;

  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 350px;
}

/* .select .country_TimeZone_downarrow {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}

.select .country_TimeZone_downarrow:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid navy;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .country_TimeZone_downarrow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.select select:focus + .country_TimeZone_downarrow:before {
  border-top-color:#1A70FF;
} */

.select select:hover {
  border-radius: 5px;
  border: 5px solid #1A70FF;
}
/* END - Select Styles */

/* START - Localizaton Label Style */
/* Step 2 table alignment for items */
#localization label {
  display: inline-block;
  /* float: left; */
  /* clear: left; */
  width: 250px;
  text-align: right;
  padding-right: 10px;
  padding-top: 9px;
}
/* END - Localizaton Label Style */


/* START - Gender Radio Styles */
/* Customize the label (the container) */
.gender {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.gender input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.gender input:checked ~ .checkmark {
  background-color: navy;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* END - Gender Radio Styles */


/* START - Ripple Loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

}
.lds-ripple div {
  position: absolute;
  border: 4px solid chartreuse;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
/* END - Ripple Loader */